.App {
  text-align: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Header code section */
.header{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  letter-spacing: 0.07em;
  background-color: #0a192f;
  height: 45px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  transition: 0.7s;
  position: relative;
  top: 0;
  z-index: 100;
}

.shadowed{
  box-shadow: 10px 2px 20px #000;
}

.sticky{
  position: fixed;
  top: 0;
  left: -40px;
  width:100%;
}

.number{
  color: #61f7d4;
  margin-top: -0.001px;
}

.resume-button{
  margin-right: 2%;
  padding: 10px;
  text-decoration: none;
  font-size: 1em;
  color: #61f7d4;
  border: 1px solid #61f7d4;
  border-radius: 5px;
  transition: 0.7s;
}

.resume-button:hover{
  background-color: #61f7d4;
  color: #0a192f;
}

.header-text{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.header-button{
  margin-right: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #a8b2d1;
  transition: 0.7s;
}

.header-button:hover{
  color: #61f7d4;
}

/* End of Header code section */

/* Email lateral bar code */

.email-wrapper{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 62%;
  left: 92%;
  height: 38%;
  width: 6%;
}

.email-text{
  text-decoration: none;
  color: #a8b2d1;
  letter-spacing: 0.1em;
  transform: rotate(90deg);
  transition: 0.3s;
  position: relative;
  top:50px;
}

.email-text:hover{
  color: #61f7d4;
  top: 43px;
}

.email-line{
  position:relative;
  color: #fff;
  height: inherit;
  top: 220px;
  border: 0.5px solid #a8b2d1;
}

/* End of lateral bar code */

/* Social lateral components */

.socials{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 3.3%;
  top: 62%;
  height: 38%;
  align-content: center;
}

.social-line{
  position:relative;
  color: #fff;
  height: inherit;
  top: 7px;
  border: 0.5px solid #a8b2d1;
}

.socialIcon{
  padding: 10px 0 10px 0;
  transition: 0.3s;
  position: relative;
  top: 0;
  left: auto;
}

.socialIcon:hover{
  fill: #61f7d4;
  top: -5px;
}

/* End of social icon part */

.center-page{
  animation: ease-out 2s slideInFromBottom;
  position: absolute;
  top: 150px;
  left: 8%;
  width: 85%;
}

.first-line{
  color: #61f7d4;
  margin: 0;
  font-family: 'Ubuntu Mono';
  font-size: 1.2em;
}

.name{
  font-family: 'Ubuntu Mono';
  color: #ddd;
  font-weight: 1500;
  margin: 35px 0 0 0;
  font-size: 4em;
}

.short-description{
  font-family: 'Ubuntu Mono';
  color: #a8b2d1;
  font-weight: 1500;
  margin: 15px 0 0 0;
  font-size: 4em;
}

.long-description{
  font-family: 'Ubuntu Mono';
  color: #a8b2d1;
  margin: 30px 0 0 0;
  line-height: 30px;
  max-width: 50%;
}

.about-section{
  box-sizing: border-box;
  margin-top: 900px;
  margin-left: 7.5%;
  width: 90%;
  scroll-behavior: smooth;
  height: 600px;
}

.logo-img{
  margin: 0 0 0 0;
  position: relative;
  top: -65%;
  left: 50%;
  transform: scale(0.8);
  box-shadow: 20px 20px 10px #61f7d4;
  transition: 0.3s;
}

.logo-img:hover{
  box-shadow: 30px 30px 20px #61f7d4;
  transform: scale(0.84);
}

.about-header{
  margin-top: -100px;
  font-family: 'Ubuntu Mono';
  color: #a8b2d1;
  font-size: 1.5em;
  margin: 0;
}

.header-image{
  position: relative;
}

.number_heading{
  font-family: 'Ubuntu Mono';
  color: #61f7d4;
  margin: 0;
  padding: 0 5px 0 0;
}

.header-line{
  width: 80%;
  height: 1px;
  background-color: #61f7d4;
  margin: 0; 
}

.long-description a{
  color: #61f7d4;
  text-decoration: none;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a8b2d1; 
  border-radius: 10px;
}
/* End of scrollbar styling */

/* Technology stack code */

.techs{
  display: flex;
  flex-direction: row;
  padding:  20px 0;
}

.tech-list{
  color: #a8b2d1;
  padding: 0 50px;
  list-style-type: circle;
}

.tech-list li{
  color:#61f7d4
}

.tech-list li span{
  color: #a8b2d1;
}
/* End of technology stack code */

/* Hamburger code */
.hamburger{
  display: none;
  transition: 0.5s;
}

.visible{
  display: block;
  transition: 0.5s;
}

.invisible{
  display: none;
  transition: 0.5s;
}

#left{
  transform: rotate(-45deg);
  x: -55px;
  y: 50px;
  transition: 0.5s;
}

#right{
  transform: rotate(45deg);
  x: 10px;
  y: -6px;
  transition: 0.5s;
}
/* End of hamburger code */

/* Mobile menu code */
.open{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  background-color: #0a192f;
  z-index: 1;
  transition: 0.5s;
  opacity: 0.9;
}

.close{
  display: none;
  transition: 0.5s;
}

.menu-text{
  color: #a8b2d1;
}

.menu-button{
  margin-right: 30px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #a8b2d1;
  transition: 0.7s;
  padding: 30px 20px 10px 25px;
  transition: 0.3s;
}

.menu-button:hover{
  color: #61f7d4;
  transition: 0.3s;
  margin-left: 10px;
}

.menuhead{
  margin-left: 10px;
}
/* End of mobile menu code */

/* Work session code */
.job-exp-div{
  margin-left: 6.5%;
  width: 90%;
  margin-top: 350px;
  scroll-behavior: smooth;
  color: #a8b2d1;
  font-size: 1.5em;
}

.job-exp-div div{
  display: flex;
  flex-direction: row;
}

.workCard{
  font-weight: 1500;
  margin:auto;
  margin-top: 80px;
  padding: 10px;
  border-radius: 5px;
  width: 35%;
  transition: .5s;
  min-height: 470px;
  height: fit-content;
}

#zwap{
  border: 4px solid #61f7d4;
  box-shadow: 10px 10px #61f7d4;
}

#zwap:hover{
  box-shadow: 20px 20px 10px #61f7d4;
}

#MamixSRL{
  border: 4px solid #66ff33;
  box-shadow: 10px 10px #66ff33;
}

#MamixSRL:hover{
  box-shadow: 20px 20px 10px #66ff33;
}

.workCard:hover{
  transform: scale(1.1);
}

.workCard h2, p{
  margin-left: 20px;
}

.workCard a{
  color: #a8b2d1;
  transition: .3s;
}

.workCard a:hover{
  color:#61f7d4;
}

.workCard h2{
  padding: 5px;
}

.jobDate{
  opacity: 0.7;
}

.jobDesc{
  margin-left: 20px;
  font-size: .7em;
  list-style-type: circle;
  color: #61f7d4
}

.jobDesc li{
  color: #a8b2d1;
  margin: 15px 0;
}


/* End of work session code */

/* Projects session code */
.project-section{
  margin: auto;
  margin-left: -2%;
  min-height: 300px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project{
  margin: 20px;
  border: 2px solid #61f7d4;
  border-radius: 20px;
  max-width: 500px;
  min-width: 300px;
  min-height: 300px;
  text-align: center;
  align-items: center;
  transition: .3s;
  text-decoration: none;
  box-shadow: 8px 8px 30px #11f2dc;
}

.project:hover{
  transform: scale(1.1);
  box-shadow: 12px 12px 50px #11f2dc;
}
/* End of projects session code */

/* Contact code */
.contact-box{
  margin: auto;
  margin-top: 50px;
  margin-left: -2%;
  width: 90%;
  min-height: 300px;
  display: flex;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact-form{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
  height: fit-content;
  font-size: 1em;
  font-family: 'Ubuntu Mono';
  margin-left: -2%;
  margin-bottom: 200px;
}

.email-form{
  color:#61f7d4;
  font-size: 1.5em;
  transition: .3s;
  font-family: 'Ubuntu Mono';
  margin: 10px;
  height: 50px;
  width: 65%;
  background-color: #0a192f;
  border: 4px solid #61f7d4;
  padding: 2px;
  border-radius: 5px;
  transition: 0.3s;
}

.email-form:focus{
  outline: none;
  border: 6px solid #61f7d4;
  transform: scale(1.01);
}

.message-form{
  color:#61f7d4;
  font-size: 1.5em;
  transition: .3s;
  font-family: 'Ubuntu Mono';
  margin: 10px;
  height: 200px;
  width: 65%;
  background-color: #0a192f;
  border: 4px solid #61f7d4;
  padding: 2px;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #0a192f;
}

.message-form:focus{
  outline: none;
  border: 6px solid #61f7d4;
  transform: scale(1.01);
  background-color: #0a192f;
}

.submitButton{
  margin: 10px;
  height: 80px;
  width: 200px;
  background-color: #0a192f;
  border: 4px solid #61f7d4;
  border-radius: 10px;
  color:#61f7d4;
  font-size: 1.5em;
  transition: .3s;
  font-family: 'Ubuntu Mono';
}

.submitButton:hover{
  background-color: #61f7d4;
  color: #0a192f;
  transition: .3s;
}
/* End of contact code */

/* 404 code */

.code404{
  animation: ease-out 2s slideInFromBottom;
  padding: 50px;
  margin: auto;
  text-align: center;
  width: 80%;
  color:#a8b2d1;
  font-size: 2em;
}

.backhome{
  color: #61f7d4;
  font-size: 1.5em;
  transition: .3s;
  text-decoration: none;
  border: #61f7d4 solid 4px;
  padding: 20px;
  border-radius: 20px;
}

.backhome:hover{
  color: #0a192f;
  background-color: #61f7d4;
  transition: .3s;
}
/* End of 404 code */

.rsm{
  color: #61f7d4;
  padding: 20px;
  font-size: 1em;
  margin-left: 40px;
  border: #61f7d4 solid 2px;
  border-radius: 10px;
  transition: .3s;
  width: 30%;
}

.rsm:hover{
  color: #0a192f;
  background-color: #61f7d4;
  transition: .3s;
  margin-left: 50px;
}

.topIcon{
  position: absolute;
  top: 0;
  left: 0;
}

/* Media queries */
@media (max-width: 1200px){
  .logo-img{
    margin: 0 0 0 0;
    position: relative;
    top: -450px;
    left: 330px;
    transform: scale(0.5);
    box-shadow: 20px 20px 10px #61f7d4;
    transition: 0.3s;
  }
  .logo-img:hover{
    transform: scale(0.6);
    box-shadow: 20px 20px 10px #61f7d4;
    transition: 0.3s;
  }
  .project-section{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .email-wrapper{
    display: none;
  }
  #socials{
    display: none;
  }
  .header-text{
    display: none;
  }
  .resume-button{
    display: none;
  }
  .hamburger{
    display: block;
    fill: #a8b2d1;
    transition: 0.5s;
    z-index: 100;
  }
  .logo-img{
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
  }
  .about-section{
    margin-top: 1200px;
    height: 1000px;
  }
  .job-exp-div{
    margin-left: 5%;
  }

  .workCard{
    font-size: 0.7em;
  }
  .project-section{
    grid-template-columns: 80%;
  }
}

/* End of media queries */

/* Project single code */
.projectImage{
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.toggleHeader{
  border: 2px solid #a8b2d1;
  width: 80%;
  margin: auto;
  font-size: 1.5em;
}

.toggleBody{
  border: 2px solid #61f7d4;
  width: 80%;
  margin: auto;
  font-size: .8em;
}

.bodyIn{
  padding: 30px;
}

.projectLink{
  color: #61f7d4;
  font-size: 1em;
  text-decoration: none;
}
